language: python
sudo: false
python:
  - "2.7"
  - "3.5"
env:
  - DJANGO="Django>=1.8.0,<1.9.0"

# command to install dependencies
install:
  - pip install -q $DJANGO
  - pip install django-googlecharts==1.0-alpha-1 --index-url https://pypi.ccnmtl.columbia.edu/
  - pip install pysqlite==2.6.3 --index-url https://pypi.ccnmtl.columbia.edu/
  - pip install .
  - pip install flake8
  - pip install coveralls

# command to run tests
script:
  - flake8 waterquality runtests.py
  - python runtests.py
  - coverage run --source=waterquality runtests.py
notifications:
  slack: ccnmtl:GizSNscLWJLldjQrffB8mwgm
after_success:
  - coveralls
