{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'waterquality/css/jquery-ui.css' %}" type="text/css" media="all" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	
	<style type="text/css">
    @import "{% static 'waterquality/css/waterquality.css' %}" ;
    </style>
    
    <!--[if IE 8]>
    <style>
    @import "{% static 'waterquality/css/waterquality_ie.css' %}" ;
    </style>
    <![endif]-->    	
	
{% endblock %}
{% block js %}
   {{ block.super }}
	<script type="text/javascript" src="{% static 'waterquality/js/jquery-1.6.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'waterquality/js/jquery-ui-1.8.12.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'waterquality/js/jquery.sharing.js' %}"></script>
    <script type="text/javascript" src="{% static 'waterquality/js/sharing.js' %}"></script>
    <script type="text/javascript" src="{% static 'waterquality/js/facebox.js' %}"></script>
    <script type="text/javascript" src="{% static 'waterquality/js/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'waterquality/js/exporting.js' %}"></script>
{% endblock %}

{% block masthead %}
	<a href="{% url 'waterchemistry-index' %}">Water Chemistry</a>
{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumbs">
	<li><a href="{% url 'waterchemistry-index' %}">Home</a></li>
	<li><a href="{% url 'waterchemistry-graphing-tool' %}" class="active">Graphing Tool</a></li>
	<li><a href="{% url 'waterchemistry-browse' %}">Data Browser</a></li>
	<li><a id="teachlink" href="{% url 'waterchemistry-teaching' %}">Teaching Resources</a></li>
	</ul>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
    <div id="footer">
        <ul id="standard-elements">
            <li><a href="/portal/about/">About</a></li>
            <li><a href="/portal/credits/">Credits</a></li>
            <li><a href="/portal/help/">Help</a></li>
            <li><a href="mailto:ccnmtl-blackrock@columbia.edu">Contact</a></li>
        </ul>
    </div>
{% endblock %}
